// =============================================================================
// MOBILE FIRST MEDIA QUERIES WITH <IE9 fallback
// =============================================================================

// @see https://github.com/jakearchibald/sass-ie
$fix-mqs: false !default;

// min width query
@mixin mq-min($width) {
	@if $fix-mqs {
		@if $fix-mqs >= $width {
			@content;
		}
	} @else {
		@media screen and (min-width: $width) {
			@content;
		}
	}
}
// max width query
@mixin mq-max($width) {
	@if $fix-mqs {
		@if $fix-mqs <= ($width - 1) {
			@content;
		}
	} @else {
		@media screen and (max-width: ($width - 1)) {
			@content;
		}
	}
}
// single breakpoint query
@mixin mq($width) {
	@if $fix-mqs {
		@if $fix-mqs <= $width {
			@content;
		}
	} @else {
		@media screen and (min-width: $width) and (max-width: next-bp($width)) {
			@content;
		}
	}
}

// calculate next breakpoint
@function next-bp($width) {
	@if $width == $bp1 {
		@return $bp2 - 1;
	} @else {
		@warn 'Invalid breakpoint';
	}
}

// =============================================================================
// RETINA
// =============================================================================
@mixin hidpi($ratio: 1.3) {
	@media only screen and (-webkit-min-device-pixel-ratio: $ratio),
	only screen and (min-resolution: #{round($ratio*96)}dpi) {
		@content;
	}
}

