////////////////////////////////////////////////////////////////////////////////
//
// SETTINGS.SCSS
//
//  Declare all vars here
//
////////////////////////////////////////////////////////////////////////////////


// =============================================================================
// TYPOGRAPHY
// =============================================================================

$fontawesome: Fontawesome; // icons

// font path
$font-path                  : '../fonts/';

// Font stacks
$georgia                    : Georgia, Cambria, 'Times New Roman', Times, serif;
$cambria                    : Cambria, Georgia, 'Times New Roman', Times, serif;
$helvetica                  : 'Helvetica Neue', Helvetica, Arial, sans-serif;
$monospace                  : Monaco, 'Courier New', monospace;
$ampersand                  : Baskerville, 'Goudy Old Style', Palatino, 'Book Antiqua', serif;
$verdana                    : Verdana, Geneva, sans-serif;
$lucida-grande              : 'Lucida Grande', Tahoma, Verdana, Arial, sans-serif;


// font sizes - typographic scale

$font-size-xsmall: .75rem;		// 12px
$font-size-small: 1rem;			// 16px
$font-size-small-2: 1.125rem;	// 18px
$font-size-medium: 1.3125rem;	// 21px
$font-size-medium-2: 1.5rem;	// 24px
$font-size-large: 1.75rem;		// 28px
$font-size-xlarge: 2.125rem;	// 34px
$font-size-xxlarge: 2.625rem;	// 42px

$h6-size                    : 1.125em; // 18px
$h5-size                    : 1.3125em; // 21px
$h4-size                    : 1.5em; // 24px
$h3-size                    : 1.75em; // 28px
$h2-size                    : 2.25em; // 36px
$h1-size                    : 3em; // 48px

$base-font-size: $font-size-small;
$base-line-height : 1;
// =============================================================================
// COLORS
// =============================================================================
// Grayscale
$black                : #000 !default;
$almost-black         : #212121 !default;
$dark-gray            : #444 !default;
$steel                : #666 !default;
$aluminum             : #999 !default;
$iron                 : #ccc !default;
$gray                 : #ebebeb !default;
$whitesmoke           : #f5f5f5 !default;
$white                : #fff !default;

// custom colors
$gold                 : #86794a !default;
$wine                 : #5d0000 !default;
$red                  : #db0000 !default;
$warning-orange       : #f4a43e !default;
$green                : #2fc12f !default;
$light-blue           : #00aced !default;
$blue				  : #199fde !default;
$greenish			  : #def5f1 !default;

// background color
$bg-color             : $white;

// Text
$text-color           : $black;
$text-color-mute      : $aluminum;

// links
$link-color           : $black;

// borders and lines
$border-color         : $steel;
$hr-color             : $almost-black;


// Social Media colors
$facebook-color: #3b5998;
$twitter-color: #00aced;
$googleplus-color: #dd4b39;
$linkedin-color: #007bb6;
$instragram-color: #517fa4;
$pinterest-color: #cb2027;
$vine-color: #00bf8f;
$snapchat-color: #fffc00;
$flickr-color: #ff0084;
$tumblr-color: #32506d;
$vimeo-color: #aad450;
$foursquare-color: #0072b1;


// =============================================================================
// BREAKPOINTS
// =============================================================================
$bp0                        : 0;
$bp1                        : 600px;
$bp2                        : 900px;
$bp3                        : 1100px;

$mobile-container-width     : 300px;

$bp0-container-width        : 300px;
$bp1-container-width        : 600px;
$bp2-container-width        : 900px;

// =============================================================================
// GRID
// =============================================================================

$base-spacing-unit          : 20px;
$half-spacing-unit          : $base-spacing-unit/2; // 10px

$default-gutter-width       : $base-spacing-unit*1.5; // 30px
$half-gutter-width          : $half-spacing-unit;
// =============================================================================


