.content {
	height: 100%;
	margin: $base-spacing-unit;
}

.column-left {
	@include mq-min($bp1) {
		width: 45%;
		float: left;
	}
}

.column-right {
	@include mq-min($bp1) {
		width: 45%;
		float: right;
	}
}

.container {
	width: 300px;
	margin-right: auto;
	margin-left: auto;
	padding-bottom: 50px;
	border-right: 1px solid $aluminum;
	border-left: 1px solid $aluminum;
	text-align: center;

	@include mq-min($bp1) {
		width: $bp1-container-width;
	}

	@include mq-min($bp2) {
		width: $bp2-container-width;
	}

	@include mq-min($bp3) {
		width: 80%;
	}

}

.footer-row {
	min-width: 300px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;

	@include mq-min($bp1) {
		width: $bp1-container-width;
	}

	@include mq-min($bp2) {
		width: $bp2-container-width;
	}

	div {
		display: inline-block;
	}

	.footer-logo {
		width: 80px;
		margin-right: auto;
		margin-left: auto;
	}

}

.page-header {
	width: 100%;
	background-color: $black;
	color: $white;
}
