<!DOCTYPE html>
<html lang="en">
	{{> head }}
	<body>
		<section class="page-header">
			{{> nav }}
		</section>
		<section class="content">
			<div class="container">
				{{> title }}
				<p>
					feel free to use this sandbox to test things out.
				</p>
				<h3>documentation and useful links</h3>
				<ol>
					<li><a href="https://atlassian.persgroep.net/confluence/display/MVG/Development+setup">Dev Setup</a></li>
					<li><a href="http://sass-lang.com/">SASS</a></li>
					<li><a href="https://atlassian.persgroep.net/confluence/pages/viewpage.action?pageId=102139431">SASS (conventions)</a></li>
					<li><a href="https://smacss.com/">SMACSS</a></li>
					<li><a href="http://csslint.net">CSS-LINT</a></li>
					<li><a href="http://gulpjs.com/">GULP</a></li>
					<li><a href="http://www.slideshare.net/apdhtg6/introduction-to-gulp-37075907">GULP(small presentation)</a></li>
					<li><a href="https://nodejs.org/en/">NODE</a></li>
					<li><a href="http://www.thymeleaf.org/">THYMELEAF</a></li>
				</ol>
			</div>
		</section>
		{{> footer }}
	</body>
</html>