<nav class="navigation">
	<div class="brand">
		<a href="http://www.demorgen.be">
			<figure>
				<img src="../images/logo_demorgen.png"/>
			</figure>
		</a>
	</div>
	<div class="nav__links">
		<ul class="nav">
			<li><a href="test.html">test</a></li>
		</ul>
	</div>

	<!--mobile nav-->
	<div class="hamburger"></div>
	<div class="nav__links nav__links--mobile is-hidden">
		<ul class="nav-mobile">
			<li><a href="test.html">test</a></li>
		</ul>
	</div>
	<!--/mobile nav -->
</nav>