@font-face {
	font-family: 'Fontawesome';
	src: url('../fonts/fontawesome-webfont.eot'); /* IE9 Compat Modes */
	src: url('../fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/fontawesome-webfont.woff') format('woff'), /* Pretty Modern Browsers */ url('../fonts/fontawesome-webfont.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/fontawesome-webfont.svg#Fontawesome') format('svg'); /* Legacy iOS */
}