.rounded {
	border-radius: 50%;
}

.center-aligned {
	text-align: center;
}

.clear {
	clear: both;
}

.uc {
	text-transform: uppercase;
}

.loading {
	margin-top: 80px;
	font-family: $fontawesome;
	text-align: center;
}

.error {
	margin-top: 80px;
	text-align: center;
}

.closer {
	float: right;
	color: $black;
	cursor: pointer;
}
