// Button //
$button-border-radius: 5px !default;
// Default button //
$button-bg-color: $steel !default;
$button-border-color: $steel !default;
$button-font-color: $white !default;
// Special buttons //
$button-alert-bg-color: #b90000 !default;
$button-alert-border-color: #b90000 !default;
$button-alert-font-color: $white !default;
$button-success-bg-color: #449d44 !default;
$button-success-border-color: #398439 !default;
$button-success-font-color: $white !default;
$button-warning-bg-color: #ec971f !default;
$button-warning-border-color: #d58512 !default;
$button-warning-font-color: $white !default;

button {

	&.button {

		display: inline-block;
		height: auto;
		margin-bottom: 10px;
		padding: 8px 15px 4px;
		transition: background-color .3s ease-out;
		border: 1px solid $button-border-color;
		border-bottom: 0;
		border-radius: $button-border-radius;
		background-color: $button-bg-color;
		color: $button-font-color;
		font-size: 16px;
		font-weight: normal;
		text-align: center;
		text-decoration: none;
		text-shadow: rgba(0, 0, 0, .4) 0 1px 0;
		text-transform: uppercase;
		white-space: nowrap;
		box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
		cursor: pointer;
		opacity: 1;
		vertical-align: middle;

		&:hover {
			background-color: darken($button-bg-color, 10%);
		}

		&:disabled {
			background-color: lighten($button-bg-color, 10%);
			cursor: default;
			opacity: .65;
			pointer-events: none;
		}
	}

	&.button-alert {
		border: 1px solid $button-alert-border-color;
		background-color: $button-alert-bg-color;
		color: $button-alert-font-color;

		&:hover {
			background-color: darken($button-alert-bg-color, 10%);
		}

		&:disabled {
			background-color: lighten($button-alert-bg-color, 10%);
		}
	}

	&.button-success {
		border: 1px solid $button-success-border-color;
		background-color: $button-success-bg-color;
		color: $button-success-font-color;

		&:hover {
			background-color: darken($button-success-bg-color, 10%);
		}

		&:disabled {
			background-color: lighten($button-success-bg-color, 10%);
		}
	}

	&.button-warning {
		border: 1px solid $button-warning-border-color;
		background-color: $button-warning-bg-color;
		color: $button-warning-font-color;

		&:hover {
			background-color: darken($button-warning-bg-color, 10%);
		}

		&:disabled {
			background-color: lighten($button-warning-bg-color, 10%);
		}
	}

}
