.navigation {
	min-height: 50px;
	padding: $half-spacing-unit;

	.brand {
		width: 150px;
		padding: $half-spacing-unit;
		float: left;
	}

	.hamburger {
		position: absolute;
		top: 10px;
		right: 10px;
		width: 30px;
		height: 20px;
		margin-top: 5px;
		background: url('../images/hamburger.png') no-repeat 50% 50%;

		@include mq-min($bp1) {
			display: none;
		}
	}

	.nav__links {
		margin-top: 0;
		margin-left: $base-spacing-unit;
		border-radius: 10px;

		&.nav__links--mobile {
			position: absolute;
			top: 30px;
			right: 10px;
		}

		a {
			color: $white;
		}

	}

	.nav {
		width: $bp0-container-width;
		margin: 0 auto;
		text-align: center;

		@include mq-min($bp1) {
			width: $bp1-container-width;
		}

		@include mq-min($bp2) {
			width: $bp2-container-width;
		}

		@include mq-max($bp1) {
			display: none;
		}

		li {
			display: inline-block;
			min-width: 100px;
			padding: $half-spacing-unit;
			color: $white;
			font-size: $font-size-medium;
			text-align: center;
			cursor: pointer;

			&.active {
				border-bottom: 2px solid $red;
			}

			&:hover {
				transition: all .5s ease-out;
				border-bottom: 2px solid $red;
				color: darken($whitesmoke, 10%);
			}
		}


	}

	.nav-mobile {
		margin-top: $base-spacing-unit;

		@include mq-min($bp1) {
			display: none;
		}

		a {
			color: $white;
		}

		li {
			width: 150px;
			padding: $half-spacing-unit;
			border: 1px solid $whitesmoke;
			border-radius: 5px;
			background-color: $black;
			text-align: center;
		}


	}
}
